.container {
  margin: 40px auto;
  max-width: 500px;
  font-family: Arial;
}

.search {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.tabs button {
  margin-right: 5px;
  padding: 8px 12px;
  border: none;
  background: #555;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.task {
  padding: 10px;
  margin-bottom: 10px;
  background: #f2f2f2;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.done {
  text-decoration: line-through;
  color: green;
}

.delete {
  color: red;
}

.addBtn {
  padding: 10px 15px;
  margin-top: 20px;
  background: #007bff;
  color: white;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
